<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!!!</h1>

    <form id="form" action="" method="POST">

        <label for="body">Body</label>
        <textarea name="body" id="body" cols="30" rows="2"></textarea>

        <label for="label">Label</label>
        <select name="label" id="label">
            <option value="" selected>None</option>
            <option value="important">Important</option>
            <option value="backlog">Backlog</option>
            <option value="optional">Optional</option>
        </select>

        <button type="submit">Create a todo</button>

    </form>

    <pre id="output"></pre>

    <div id="todos"></div>

    <script src="/public/js/src/todoElement.js"></script>
    <script src="/public/js/src/todos.js"></script>
    <script src="/public/js/src/form.js"></script>
</body>
</html>